*{font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;font-size: 100%;}
html, body{height: 100%;}
body{margin: 0px;}
video {width:100%;height:auto;height:100%;object-fit: cover;}
pre{margin:3px 0px;white-space: normal;font-size: 110%;color:#777;font-style: italic;}

#easyrtcErrorDialog {background-color: #f39c12;position:fixed;right: 0px;top:0px;left:0px;z-index: 30;opacity: 0.95;padding: 20px;}
#easyrtcErrorDialog_body{position:static;height:auto;overflow-y:auto;font-size: 200%;color: #fff;}
.easyrtcErrorDialog_closeButton {cursor: pointer;position:static;clear:both;float:right;font-size: 200%;}

#wrap{width: 100%;height:100%;margin: auto;}
.divHolder {position:relative;float:left;width: 25%;height: 50%;overflow: hidden;}
#selfVideo {-webkit-transform: scaleX(-1);-moz-transform: scaleX(-1);-ms-transform: scaleX(-1);-o-transform: scaleX(-1);transform: scaleX(-1);}
#selfWrap{background-color: #CD0E3F;}
#caller1{background-color: #D90E31;}
#caller2{background-color: #E75222;}
#caller3{background-color: #F29525;}
#caller4{background-color: #FBC433;}
#caller5{background-color: #CCCC2B;}
#caller6{background-color: #19A5A8;}
#caller7{background-color: #57BFD2;}

#roomID{background:rgba(50,50,50,0.5);color:#fff;position: fixed;bottom: 10px;left:10px;padding: 10px;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
#lockBtn{display:none;width:50px;height:50px;background:rgba(50,50,50,0.5);color:#fff;position: fixed;bottom: 10px;right:10px;border:none;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;background-repeat: no-repeat;background-position: center;cursor: pointer;}
#lockBtn.locked{background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAYCAYAAAAcYhYyAAABWklEQVQ4T83UzytmYRjG8c8rs5CFLCxmomQj2Ygpo6z8A1JSM+VXbNjYjFnZKlMWslIkpIRG8wfYkrJAUTYiEslykgXN9EznrdfpvD96Fzi789zn+nbf1/1cJyX5acZ3dKAKd9jGNI7iklQCYxxTKMEf3OATyvEcwWcydXHIIBZxjzFs4Akf8BVBXIlerKZBmZAKXESCLzhO6LIJu3hAbdSpTMgw5jGJiSxeheOf+IF+rISDTMgChhBMPcgBacUe5jASh2yhCx9xmwNSg0tsoicO+Y3OAiDVuMIvdL8/SFhlYw4P8pUOw3b+4hHX+b5OqAd/StOQHbQXAQmr/vwqkLLoLqxHI8ebLaiTPizjG9YSxi0Iks5TSPfSm0JCIEMwB6KxivKkHrMYxVmx4+S7Oi+MDS9t+RQJ9X00hct2ggacRxEolBW0dfifnZbItDB/0t8/GzRk7hR9/wBVNGG7uV2SUwAAAABJRU5ErkJggg==);}
#lockBtn.unlocked{background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAYCAYAAAAcYhYyAAABYUlEQVQ4T8XUsUuVYRTH8Y+igziIREsmiIMiLZJBCk39DSISeDV0ycWlmlwDoyFyEozQEEXEP0GaFMFBBQMXUZQQgnCJaCiUE++N68vrvZcX1Gd7n/OcL+d3zvm9NbLPQ7zEU9zFd6zhHXbTKTUZjFeYQi1+4hT30Ii/iPj70rw05Dk+4QcmsIw/qMcgPqAZQ1gogkohTThKEnqxl1FlNzbwC21JpUohY5jFG0xe0au4fovXGMbnuCiFfMQooqnbZSCPsYkZvEhDFhPdd3BWBtKKY6xgIA1pQQe+lAFE6D5OsIr+NKRC7v/w9UFilA+qLSPj3U5M5xy/8S0HKKTVFSHreJIDEqN+dCOQhmQXwkMhOX2qqqSAeTzDUl5I0U/h7rlbhYQhw5gjiaxcPenENMZxkFdOpdW5NJ346KuUkRHfQncs21d04TCxQLWsyG3HP+/0JE0L/Vl//6ug4bl9FC4AZOFcu24LhNQAAAAASUVORK5CYII=);}
#fixed{position:fixed;left:10px;bottom:10px;right:10px;display: none;}
#intro{background:#fff;text-align:center;width:100%;max-width:640px;margin:auto;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);-moz-box-shadow: 0px 0px 10px 2px  rgba(0,0,0,0.5);box-shadow: 0px 0px 10px 2px  rgba(0,0,0,0.5);}
#inner{padding: 25px;}
#closeintro{float: right;color: #2c3e50;background:none;border:none;font-size: 200%;line-height: 20px;position:relative;top:-10px;right:-10px;cursor: pointer;}
#urlwrap{padding: 5px;line-height: 40px;}
#roomURL{border-bottom:1px dashed #000;padding: 5px 10px;}
#copyURL, #embedCode{color: #fff;background:#16a085;padding:5px 10px;border:none;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
#embedCode{background-color: #2980b9;}
#weburl{font-size: 110%;font-weight: bold;}
#terms{font-size: 70%;color: #ababab;margin-top: 10px;}
#aboutlink{color: #ababab;font-size: 90%;}
#maker{padding-top: 5px;}
#twitter{color: #2980b9;}
.small{font-size: 80%;}
.italic{font-style: italic;}

@media only screen and (max-width: 768px) {
    .divHolder {width: 50%;height: 25%;}
}

#privateWrap{width: 100%;max-width: 640px;margin: 10px auto;}
#innerPrivateWrap{padding:10px;}
#logo{text-align: center;}
#logo img{-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
h1, h2{font-weight: normal;text-align: center;}
h1{font-size: 250%;}
h2{font-size: 150%;}
h3{font-size: 125%;}
.inputGroup{margin:10px auto 30px;}
.input{border:1px solid #ccc;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.input input{display: block;padding: 10px;width: 100%;background:none;border:none;box-sizing: border-box;}
.formnote{font-size: 80%;color:#777;}
#formURL{float: left;box-sizing: border-box;padding: 10px 0px 10px 10px;}
#formRoomName{width: 68%;padding-left: 0px;}
#payButtonWrap{margin: 20px auto;}
#payButtonWrap a{display: inline-block;vertical-align: middle;}
#payButton{background: #FBC433;text-decoration:none;border:none;color:#fff;padding:11px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;position: relative;top:-2px;}
#roomPrivateURL{background-position: right 10px center;background-repeat: no-repeat;}
#formError{margin-left:10px;color:red;font-size: 80%;}
#privateTerms{font-size: 90%;}
